In [1]:
import sqlite3
import pandas as pd

In [3]:
conn = sqlite3.connect('/Users/nedjo4real/PycharmProjects/hu48caxy-made-project/data/data.sqlite')
table_name = "income_data"  # Replace with your table name
data = pd.read_sql_query(f"SELECT * FROM {table_name}", conn)

In [5]:
data

# Select only Age.Range and Salary columns for salaries >50K
result = data.loc[data['Salary'] == '>50K', ['Age.Range', 'Salary']]
print(result)

      Age.Range Salary
0            40   >50K
2            46   >50K
3            32   >50K
12           33   >50K
14           46   >50K
...         ...    ...
24532        52   >50K
24537        51   >50K
24540        40   >50K
24549        56   >50K
24554        40   >50K

[5935 rows x 2 columns]

In [6]:
# Group by Salary and Education, then count occurrences
salary_education_counts = data.groupby(['Salary', 'Education']).size().reset_index(name='Count')

# Display the result
print(salary_education_counts)

   Salary           Education  Count
0    <50K  Associate's Degree    514
1    <50K   Bachelor's Degree   4099
2    <50K    Doctorate Degree     91
3    <50K     High School/GED    582
4    <50K     Master's Degree    770
5    <50K        Some College   1232
6    <50K    Trade/Vocational    200
7   <=50K                10th    685
8   <=50K                11th    853
9   <=50K                12th    307
10  <=50K             1st-4th    127
11  <=50K             5th-6th    242
12  <=50K             7th-8th    434
13  <=50K                 9th    376
14  <=50K          Assoc-acdm    597
15  <=50K           Assoc-voc    784
16  <=50K           Bachelors   2326
17  <=50K           Doctorate     80
18  <=50K             HS-grad   6655
19  <=50K             Masters    554
20  <=50K           Preschool     35
21  <=50K         Prof-school    109
22  <=50K        Some-college   4464
23   >50K                10th     45
24   >50K                11th     47
25   >50K                12th     22
26   >50K             1st-4th      4
27   >50K             5th-6th     11
28   >50K             7th-8th     28
29   >50K                 9th     20
30   >50K          Assoc-acdm    202
31   >50K           Assoc-voc    266
32   >50K           Bachelors   1672
33   >50K           Doctorate    232
34   >50K             HS-grad   1270
35   >50K             Masters    710
36   >50K         Prof-school    326
37   >50K        Some-college   1080
38  >=50K  Associate's Degree    639
39  >=50K   Bachelor's Degree  16300
40  >=50K    Doctorate Degree    905
41  >=50K     High School/GED    552
42  >=50K     Master's Degree   4830
43  >=50K        Some College   1351
44  >=50K    Trade/Vocational    252

In [8]:
# Create a pivot table to view counts by Education and Salary
pivot_table = data.pivot_table(index='Education', columns='Salary', aggfunc='size', fill_value=0)

# Display the pivot table
print(pivot_table)

Salary              <50K  <=50K  >50K  >=50K
Education
10th                   0    685    45      0
11th                   0    853    47      0
12th                   0    307    22      0
1st-4th                0    127     4      0
5th-6th                0    242    11      0
7th-8th                0    434    28      0
9th                    0    376    20      0
Assoc-acdm             0    597   202      0
Assoc-voc              0    784   266      0
Associate's Degree   514      0     0    639
Bachelor's Degree   4099      0     0  16300
Bachelors              0   2326  1672      0
Doctorate              0     80   232      0
Doctorate Degree      91      0     0    905
HS-grad                0   6655  1270      0
High School/GED      582      0     0    552
Master's Degree      770      0     0   4830
Masters                0    554   710      0
Preschool              0     35     0      0
Prof-school            0    109   326      0
Some College        1232      0     0   1351
Some-college           0   4464  1080      0
Trade/Vocational     200      0     0    252

In [9]:
# Group by Salary, Education, and Country, then count occurrences
salary_education_country_counts = data.groupby(['Salary', 'Education', 'Country']).size().reset_index(name='Count')

# Display the result
print(salary_education_country_counts)

    Salary           Education  Country  Count
0     <50K  Associate's Degree   CANADA     33
1     <50K  Associate's Degree   FRANCE      1
2     <50K  Associate's Degree  GERMANY      1
3     <50K  Associate's Degree    SPAIN      1
4     <50K  Associate's Degree       UK      7
..     ...                 ...      ...    ...
693  >=50K    Trade/Vocational   CANADA     33
694  >=50K    Trade/Vocational  DENMARK      1
695  >=50K    Trade/Vocational   SWEDEN      1
696  >=50K    Trade/Vocational       UK      2
697  >=50K    Trade/Vocational       US    215

[698 rows x 4 columns]

In [10]:
# Create a pivot table for Salary, Education, and Country
pivot_table = data.pivot_table(index=['Education', 'Country'], columns='Salary', aggfunc='size', fill_value=0)

# Display the pivot table
print(pivot_table)

Salary                               <50K  <=50K  >50K  >=50K
Education        Country
10th             Canada                 0      2     0      0
                 China                  0      1     0      0
                 Columbia               0      2     0      0
                 Cuba                   0      1     1      0
                 Dominican-Republic     0      3     0      0
...                                   ...    ...   ...    ...
Trade/Vocational DENMARK                0      0     0      1
                 HUNGARY                1      0     0      0
                 SWEDEN                 0      0     0      1
                 UK                     8      0     0      2
                 US                   177      0     0    215

[522 rows x 4 columns]